{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <p class="card-title" style="font-size:bold;">제목</p>
                    <p class="card-subtitle" style="font-size: 12px;">
                        닉네임 |
                        <small>2000-01-01 12:12</small>
                    </p>
                    <p class="card-text" style="margin-top:10px;">내용</p>
                    <img src="">
                </div>
            </div>

            <div class="row text-end" style="margin-top:40px; margin-bottom">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <textarea class="form-control" style="resize:none; height:100px;" placeholder="매너를 지켜주세요."></textarea>
                                <a class="fs-5 text-decoration-none fs-5 my-2" style="color: black; font-weight: bold;" id="comment_write_btn">댓글 달기</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row my-2">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <p>날짜</p>
                            <p>내용</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}